html, body {
    margin: 0;
    width: 100%;
  }
body {
    overflow: hidden;
    height: inherit;
}
  
h1 {
    font-size: 4rem;
    letter-spacing: 4px;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    margin: 0;
    top: 50px;
    left: 10%;
    color: lightseagreen;
    text-shadow: 0 0 2px white;
}


