html, body {
    margin: 0;
    width: 100%;
  }
  
  html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   
  }
  
  body {
    overflow: hidden;
    height: inherit;

  }
  
  h1 {
    font-size: 4rem;
    letter-spacing: 4px;
    position: absolute;
    text-align: center;
    text-decoration: underline;
    margin: 0;
    top: 50px;
    left: 10%;
  
    color: lightseagreen;
    text-shadow: 0 0 2px white;
  }
  /* canvas {
    background: rgb(71,217,200);
    background: linear-gradient(117deg, rgba(71,217,200,1) 10%, rgba(202,98,230,1) 50%, rgba(93,112,249,1) 90%); 
  } */

